@font-face {
  font-family: "Formula";
  src: url("fonts/Formula1-Regular.otf"), url("fonts/Formula1-Bold.otf");
}

body {
  font-family: 'Formula' !important;
}

.logo {
  width: 100px;
  height: auto;
}

.nav-main {
  background-color: #e10600;
}

.active {
  font-weight: bold !important;
}
